/* used top tag instead of header */
 #top{
   height:400px;
   min-width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: #c76700;
   background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
    
 
  }