/* used top tag instead of header */
 #top{
   height:400px;
   min-width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: #c76700;
   background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
    
   margin-top: 120px;
   
  }

/* mobile */

@media only screen and (min-width: 320px) and (max-width: 420px) {
  /* Write smartphone only styles here */
  #top{
    margin-top: 0;
    height: 520px;
    
  }
  img{
    margin-top: 100px;
  }
  

}