nav{
  height: 120px;
  width:100%;
  background-color: #4056a1;
  color:#FFFFFF;
  
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
}
#logo{
  font-family: "Bungee", sans-serif;
}

.tweet-button {
  font-family: "Source Sans Pro";
}

strong{
  font-weight: bold;
}