nav{
  height: 120px;
  width:100%;
  background-color: #4056a1;
  color:#FFFFFF;
  
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;

  position: fixed;   
  
  top: 0;

  font-family: "Bungee", sans-serif;
  font-weight: 300;
  
}
#logo{
  font-family: "Bungee", sans-serif;
}

.tweet-button {
  font-family: "Source Sans Pro";
}

strong{
  font-weight: bold;
}


@media only screen and (min-width: 320px) and (max-width: 420px) {
  /* Write smartphone only styles here */
  nav{
    background-color:transparent;
    height: 0px;
    color: moccasin;
    /* -webkit-text-stroke: .01em black; */
  }
  
}

 


