.new-tweet{
  display:flex;
  
  
  color: blueviolet;
}

.counter{
  display: flex;
  flex-direction: row-reverse;
  color: blueviolet
}

#tweet-text{
  display: flex;
  border:none;
  color: #777;
  padding: 0px 0px 0px 0px;
  background: transparent;
  resize: none;
	outline: none;
  border: none;
  min-width: 30em;
  border-bottom: 3px solid  #83A4C5;
  margin: 20px 0px;
  line-height: .85;
}

button{
  /* makes dope slightly rounded button */
  border-radius: .25em;
  background-color: #4056a1;
  font-weight: 700;
  color: white;
  display:flex;
  justify-content: center;
}

div.under-tweet{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div[id="tweet-container"]{
  display:flex;
  flex-direction: column;
}

.tweet{
  display: flex;
  justify-content: space-between;
}
header .tweet-header{
  display: flex;
  align-items: center;
  
}

.tweet-header h4{
  padding-left: 10px;
}

footer.tweet-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article{
  border: 3px solid black;
  padding: 20px;
  margin-top: 18px;
  opacity:.7;
}
/* cssmatic box shadow */
article:hover{
  -webkit-box-shadow: 6px 6px 3px 0px rgba(72,82,199,1);
  -moz-box-shadow: 6px 6px 3px 0px rgba(72,82,199,1);
  box-shadow: 6px 6px 3px 0px rgba(72,82,199,1);
  opacity:1;
}
.twat{
  opacity: 0;
}

article:hover .twat{
  opacity:1;
}

.tweet-body{
  border-bottom: 3px solid black;
  padding: 5px;
}

div.error-box{
  display:none;
  border: 3px solid red;
  color: red;
  width:auto;
}