.new-tweet{
  display:flex;
  flex-direction: column;
  
  color: blueviolet;
}

.counter{
  display: flex;
  flex-direction: row-reverse;
}

#tweet-text{
  display: flex;
  border:none;
  color: #777;
  padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
  border-bottom: 4px solid  #83A4C5;
  text-emphasis-color: #FF0FF0;
}

